body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  position: fixed;
  background: #25A96F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 100px;
  width: 100%;
  top: 0px;
}

.shirt{
  left: 10px;
  position: absolute;
  display: inline-block;
  width: 100px;
}

.homep{
  margin: 0px;
  height: 713px;
  background-color: #25A96F;

}


.bodyofhome{
  position: absolute;
  align-content: center;
  height: 713px;
  width: 1535px;
  overflow: hidden;
}

.hometextmain{
  position: absolute;
  top: 170px;
  left: 320px;
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 170px;
  line-height: 135px;
  letter-spacing: 0.1em;

color: #F7F3F3;

mix-blend-mode: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}


.hometextsecondary{
  /* ThriftAid is an application that links thrift stores and homeless shelters, with the goal of reducing waste. Thrift stores with excess clothes can post a listing (with options for pick up or delivery), and a nearby homeless shelter can choose to accept it. */
top: 420px;
left: 410px;
position: absolute;
width: 830px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;

mix-blend-mode: normal;

}

.ellipse1{
  /* Ellipse 1 */

position: absolute;
width: 650px;
height: 650px;
left: -120px;
top: -220px;
border-radius: 50%;
background: rgba(120, 240, 187, 0.21);
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}

.ellipse2{
  /* Ellipse 2 */

position: absolute;
width: 700px;
height: 620px;
left: 1170px;
top: -330px;
border-radius: 50%;
background: rgba(120, 240, 187, 0.28);
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
overflow: hidden;


}

.ellipse3{
  /* Ellipse 2 */

position: absolute;
width: 600px;
height: 620px;
left: 770px;
top: 490px;
border-radius: 50%;
background: rgba(120, 240, 187, 0.28);
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
overflow: hidden;


}

/* about page beyond here */

.about{
  position: absolute;
  align-content: center;
  height: 913px;
  width: 1515px;
  overflow: hidden;
}

.signup{
  margin: 0px;
  height: 713px;
  background-color: #25A96F;

}

.signupbox{
  position: absolute;
  display: inline-block;
  width: 450px;
  height: 500px;
  top: 100px;
  left: 550px;
  border-radius: 3%;
  background: white;
  box-shadow: 0px 4px 30px rgba(0.1, 0.1, 0.1, 0.25);
}

.invalidemail{
  text-decoration: red;
}

.emailheader{
  font-family: 'Oswald';
  position: absolute;
  left: 50px;
  color: #436157;
  top: 150px;
  font-size: 30px;
}

.passwordheader{
  font-family: 'Oswald';
  position: absolute;
  color: #436157;
  left: 50px;
  top: 250px;
  font-size: 30px;
}

.inputemail{
  position: absolute;
  left: 50px;
  width: 350px;
  top: 200px;
  height: 40px;
  border-radius: 0%;
}

.inputpassword{
  position: absolute;
  left: 50px;
  top: 300px;
  width: 350px;
  height: 40px;
  border-radius: 0%;
}

.messages{
  margin: 0px;
  height: 0px;
}

.signupformstyle{
  position: absolute;
  top: 150px;
  left: 600px;

}

.signupformstyle > button {
  color: #FFFFFF; /* Set the text color */
  background-color: #25A96F; /* Set the background color */
}

.logout{
  color: "#F7F3F3";
  font-family: 'Noto Sans';
  font-size: 30;
  font-style: 'normal';
  font-weight: 700;
  text-align: 'center';
  height: 50;
  left: 500;
  top: 19;
  text-transform: 'none';
}

.logout:hover{

  background-color: "#F7F3F3";
  color: "#25A96F";
}


/*
button{
  position: relative;
  display: block;
  top: 200px;
  left: 620px;
  width: 300px;
  margin-bottom: 10px;
  color: #25A96F;
}
input {
  position: relative;
  display: block;
  margin-top: 10px;
  top: 100px;
  left: 700px;
  width: 300px;
}

#alert {
  color: red;
  margin-bottom: 10px;
}

.signupformc{
  position: absolute;
  left: 400px;
  color:#25A96F;
}

.passwordverify{
  position: absolute;
  color: #25A96F;
  top: 200px;
}

.rectangle {
  position: absolute;
  display: inline-block;
  width: 420px;
  height: 500px;
  top: 150px;
  left: 550px;
  border-radius: 3%;
  background: white;
  box-shadow: 0px 4px 30px rgba(0.1, 0.1, 0.1, 0.25);
}
*/