body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  position: fixed;
  background: #25A96F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 100px;
  width: 100%;
  top: 0px;
}

.shirt{
  left: 10px;
  position: absolute;
  display: inline-block;
  width: 100px;
}

.homep{
  margin: 0px;
  height: 713px;
  background-color: #25A96F;

}


.bodyofhome{
  position: absolute;
  align-content: center;
  height: 713px;
  width: 1535px;
  overflow: hidden;
}

.hometextmain{
  position: absolute;
  top: 170px;
  left: 320px;
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 170px;
  line-height: 135px;
  letter-spacing: 0.1em;

color: #F7F3F3;

mix-blend-mode: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}


.hometextsecondary{
  /* ThriftAid is an application that links thrift stores and homeless shelters, with the goal of reducing waste. Thrift stores with excess clothes can post a listing (with options for pick up or delivery), and a nearby homeless shelter can choose to accept it. */
top: 420px;
left: 410px;
position: absolute;
width: 830px;
font-family: 'Noto Sans';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;

mix-blend-mode: normal;

}

.ellipse1{
  /* Ellipse 1 */

position: absolute;
width: 650px;
height: 650px;
left: -120px;
top: -220px;
border-radius: 50%;
background: rgba(120, 240, 187, 0.21);
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}

.ellipse2{
  /* Ellipse 2 */

position: absolute;
width: 700px;
height: 620px;
left: 1170px;
top: -330px;
border-radius: 50%;
background: rgba(120, 240, 187, 0.28);
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
overflow: hidden;


}

.ellipse3{
  /* Ellipse 2 */

position: absolute;
width: 600px;
height: 620px;
left: 770px;
top: 490px;
border-radius: 50%;
background: rgba(120, 240, 187, 0.28);
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
overflow: hidden;


}

/* about page beyond here */

.about{
  position: absolute;
  align-content: center;
  height: 913px;
  width: 1515px;
  overflow: hidden;
}

.signup{
  margin: 0px;
  height: 713px;
  background-color: #25A96F;

}

.invalidemail{
  text-decoration: red;
}

.emailheader{
  font-family: 'Oswald';
  position: absolute;
  left: 50px;
  color: #436157;
  top: 150px;
  font-size: 30px;
}

.passwordheader{
  font-family: 'Oswald';
  position: absolute;
  color: #436157;
  left: 50px;
  top: 250px;
  font-size: 30px;
}

.messages{
  margin: 0px;
  height: 0px;
}

.signon{
  position: absolute;
  left: 1000px;
  top: 500px;
}



.logout{
  color: "#F7F3F3";
  font-family: 'Noto Sans';
  font-size: 30;
  font-style: 'normal';
  font-weight: 700;
  text-align: 'center';
  height: 50;
  left: 500;
  top: 19;
  text-transform: 'none';
}

.logout:hover{

  background-color: "#F7F3F3";
  color: "#25A96F";
}

.useremailwelcome{
  position: absolute;
  left: 1000px;
  border-radius: 25px;
  background: #F7F3F3;
  padding: 20px;
  width: 200px;
  height: 10px;
}


.signupbox{
  position: absolute;
  display: inline-block;
  width: 335px;
  height: 400px;
  top: 21%;
  left: 39.3%;
  border-radius: 2%;
  background: white;
  box-shadow: 0px 4px 30px rgba(0.1, 0.1, 0.1, 0.25);
}


.passwordinputbar{
  border-radius: 3px;
  position: fixed;
  top: 47%;
  left: 40%;
  font-size: 18px;
  font-weight: 10;
  width: 310px;
  height: 35px;
  border-width: 0.5px;
  border-color: #a9a9a9;
  text-indent: 5px;
}

.passwordinputbar::placeholder{
  position: relative;
  font-size: 22px;
  font-weight: 10;
  left:0%;
  top: 7%;
}

.verifypasswordinputbar{
  border-radius: 3px;
  position: fixed;
  top: 54%;
  left: 40%;
  font-size: 18px;
  font-weight: 10;
  width: 310px;
  height: 35px;
  border-width: 0.5px;
  border-color: #a9a9a9;
  text-indent: 5px;
}

.verifypasswordinputbar:focus{
  outline: 0;
  border: 3px solid #24a0ed;
}

.passwordinputbar:focus{
  outline: 0;
  border: 3px solid #24a0ed;
}

.verifypasswordinputbar::placeholder{
  position: relative;
  font-size: 22px;
  font-weight: 10;
  left:0%;
  top: 7%;
}

.emailinputbar{
  border-radius: 3px;
  position: fixed;
  top: 40%;
  left: 40%;
  font-size: 18px;
  font-weight: 10;
  width: 310px;
  height: 35px;
  border-width: 0.5px;
  border-color: #a9a9a9;
  text-indent: 5px;
}

.emailinputbar:focus{
  outline: 0;
  border: 3px solid #24a0ed;
}

.emailinputbar::placeholder{
  position: relative;
  font-size: 22px;
  font-weight: 10;
  left:0%;
  top: 7%;
}


.radiothriftlabel{
  position: absolute;
  left: 42.1%;
  top: 66.5%;
  font-size: 14px;
}
.thriftradio{
  border-radius: 3px;
  position: absolute;
  left: -27px;
  top: 1px;
  border-width: 0.5px;
  border-color: '#D3D3D3';
}

.radiohomelesslabel{
  position: absolute;
  left: 49.2%;
  top: 66.5%;
  font-size: 14px;
}

.homelessradio{
  border-radius: 3px;
  position: absolute;
  left: -31px;
  top: 1px;
  border-width: 0.5px;
  border-color: '#D3D3D3';
}

.oroption{
  position: absolute;
  left: 49.8%;
  top: 77.5%;
  font-size: 16px;
  font-weight: 20px;
  color: #919394;
}

.signupshirt{
  position: absolute;
  display: inline-block;
  left: 5px;
  width: 52px;
  height: 52px;
  top: 5.5px;
  
}

.ellipse5{
position: absolute;
width: 60px;
height: 60px;
left: 48%;
border-radius: 50%;
top: 13%;
background: rgba(24, 170, 237, 0.589);
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}

.singupwelcometo{
  position: absolute;
  left: 48.15%;
  top: 22%;
  font-family: 'Open sans';
}

.typeofaccountoutline {
  position: absolute;
  background: transparent;
  left: 40%;
  top: 65.7%;
  width: 315px;
  height: 30px;
  border-radius: 3px;
  border: 0.1px solid #a9a9a9;
}

.choicebetweenaccounts{
  position: absolute;
  left: 40%;
  top: 63%;
  font-family: 'Open sans';
  font-size: 12px;
}

.inputerrors {
  position: absolute;
  top: 34%;
  left: 40%;
  color: red;
  max-width: 310px; /* Adjust this value as needed */
  font-size: 20px;
  max-height: 20px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

.inputerror {
  position: absolute;
  top: 36%;
  left: 40%;
  color: red;
  max-width: 310px; /* Adjust this value as needed */
  font-size: 20px;
  max-height: 20px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

.loginwelcometo {
  position: absolute;
  width: 12ch;
  animation: typing 2s steps(13), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 35px;
  left: 39.4%;
  top: 14.7%;
}

.loginbolded{
  position: absolute;
  font-family: 'Noto Sans';
  letter-spacing: 1px;
  font-size: 30px;
  left: 40%;
  top: 21.5%;
  font-style: bold;
  font-weight: 500;
}


.loginshirt{
  position: absolute;
  display: inline-block;
  left: 5px;
  width: 52px;
  height: 52px;
  top: 4.3px;
  
}

.ellipse6{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 48.25%;
  border-radius: 50%;
  top: 22%;
  background: rgba(24, 170, 237, 0.589);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  }

.loginwelcometoo{
  position: absolute;
  left: 48.5%;
  top: 30%;
  font-family: 'Open sans';
}

.loginoroption{
  position: absolute;
  left: 49.8%;
  top: 60%;
  font-size: 16px;
  font-weight: 20px;
  color: #919394;
}

.testfortype{
  position: absolute;
  top: 30%;
  left: 40%;
}

.pastpostings{
  position: absolute;
  top: 17%;
  left: 17%;
  color: black;
  font-family: 'Open Sans';
  font-size: 40px;
  font-weight: 470;
}

.currentprofileinfo{
    position: absolute;
    top: 80%;
    left: 40%;
    color: black;
    font-family: 'Open Sans';
    font-size: 40px;
    font-weight: 470;
}

.signupbox{
  position: absolute;
  display: inline-block;
  width: 335px;
  height: 400px;
  top: 21%;
  left: 39.3%;
  border-radius: 2%;
  background: white;
  box-shadow: 0px 4px 30px rgba(0.1, 0.1, 0.1, 0.25);
}


.websiteinputbar{
  border-radius: 3px;
  position: fixed;
  top: 52%;
  left: 40%;
  font-size: 18px;
  font-weight: 10;
  width: 310px;
  height: 35px;
  border-width: 0.5px;
  border-color: #a9a9a9;
  text-indent: 5px;
}

.websiteinputbar::placeholder{
  position: relative;
  font-size: 22px;
  font-weight: 10;
  left:0%;
  top: 7%;
}

.phonenumberinputbar{
  border-radius: 3px;
  position: fixed;
  top: 59%;
  left: 40%;
  font-size: 18px;
  font-weight: 10;
  width: 310px;
  height: 35px;
  border-width: 0.5px;
  border-color: #a9a9a9;
  text-indent: 5px;
}

.phonenumberinputbar:focus{
  outline: 0;
  border: 3px solid #24a0ed;
}

.websiteinputbar:focus{
  outline: 0;
  border: 3px solid #24a0ed;
}

.phonenumberinputbar::placeholder{
  position: relative;
  font-size: 22px;
  font-weight: 10;
  left:0%;
  top: 7%;
}

.establishmentinputbar{
  border-radius: 3px;
  position: fixed;
  top: 45%;
  left: 40%;
  font-size: 18px;
  font-weight: 10;
  width: 310px;
  height: 35px;
  border-width: 0.5px;
  border-color: #a9a9a9;
  text-indent: 5px;
}

.establishmentinputbar::placeholder{
  position: relative;
  font-size: 22px;
  font-weight: 10;
  left:0%;
  top: 7%;
}

.establishmentinputbar:focus{
  outline: 0;
  border: 3px solid #24a0ed;
}

.establishmentinputbarv2:focus{
  outline: 0;
  border: 3px solid #24a0ed;
}

.establishmentinputbarv2::placeholder{
  position: relative;
  font-size: 22px;
  font-weight: 10;
  left:0%;
  top: 7%;
}

.currentprofilebox{
  position: absolute;
  display: inline-block;
  width: 335px;
  height: 400px;
  top: 21%;
  left: 39.3%;
  border-radius: 2%;
  background: white;
  box-shadow: 0px 4px 30px rgba(0.1, 0.1, 0.1, 0.25);
}

.websiteinputbarv2{
  border-radius: 3px;
  position: fixed;
  top: 46%;
  left: 40.7%;
  font-size: 18px;
  font-weight: 10;
  width: 310px;
  height: 35px;
  border-width: 0.5px;
  border-color: #a9a9a9;
  padding: 0 10px; /* Add padding/margin effect to the wrapped lines */
  box-sizing: border-box; /* Include padding in the element's total width */
}

.websiteinputbarv2::placeholder{
  position: relative;
  font-size: 22px;
  font-weight: 10;
  left:0%;
  top: 7%;
}

.phonenumberinputbarv2{
  border-radius: 3px;
  position: fixed;
  top: 55%;
  left: 40.75%;
  font-size: 18px;
  font-weight: 10;
  width: 310px;
  height: 35px;
  border-width: 0.5px;
  border-color: #a9a9a9;
  padding: 0 10px; /* Add padding/margin effect to the wrapped lines */
  box-sizing: border-box; /* Include padding in the element's total width */
}

.phonenumberinputbarv2:focus{
  outline: 0;
  border: 3px solid #24a0ed;
}

.websiteinputbarv2:focus{
  outline: 0;
  border: 3px solid #24a0ed;
}

.phonenumberinputbarv2::placeholder{
  position: relative;
  font-size: 22px;
  font-weight: 10;
  left:0%;
  top: 7%;
}

.establishmentinputbarv2 {
  border-radius: 3px;
  position: fixed;
  top: 36%;
  left: 40.4%;
  font-size: 18px;
  font-weight: 10;
  width: 310px;
  height: 35px;
  border-width: 0.5px;
  border-color: #a9a9a9;
  padding: 0 10px; /* Add padding/margin effect to the wrapped lines */
  box-sizing: border-box; /* Include padding in the element's total width */
}

.ellipse8{
  position: absolute;
  width: 60px;
  height: 60px;
  left: 48.5%;
  border-radius: 50%;
  top: 22%;
  background: rgba(24, 170, 237, 0.589);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  }

  .profileshirt{
    position: absolute;
    display: inline-block;
    left: 4.8px;
    width: 52px;
    height: 52px;
    top: 4.3px;
    
  }


  .establishmentinputbarv3:focus{
    outline: 0;
    border: 3px solid #24a0ed;
  }
  
  .establishmentinputbarv3::placeholder{
    position: relative;
    font-size: 22px;
    font-weight: 10;
    left:0%;
    top: 7%;
  }
  
  .newpostbox{
    position: absolute;
    display: inline-block;
    width: 335px;
    height: 67%;
    top: 25%;
    left: 28.3%;
    border-radius: 2%;
    background: white;
    box-shadow: 0px 4px 30px rgba(0.1, 0.1, 0.1, 0.45);
  }
  
  .websiteinputbarv3{
    border-radius: 3px;
    position: fixed;
    top: 53%;
    left: 29.15%;
    font-size: 18px;
    font-weight: 10;
    width: 310px;
    height: 35px;
    border-width: 0.5px;
    border-color: #a9a9a9;
    padding: 0 10px; /* Add padding/margin effect to the wrapped lines */
    box-sizing: border-box; /* Include padding in the element's total width */
  }
  
  .websiteinputbarv3::placeholder{
    position: relative;
    font-size: 22px;
    font-weight: 10;
    left:0%;
    top: 7%;
  }
  
  .phonenumberinputbarv3{
    border-radius: 3px;
    position: fixed;
    top: 60%;
    left: 29.15%;
    font-size: 18px;
    font-weight: 10;
    width: 310px;
    height: 35px;
    border-width: 0.5px;
    border-color: #a9a9a9;
    padding: 0 10px; /* Add padding/margin effect to the wrapped lines */
    box-sizing: border-box; /* Include padding in the element's total width */
  }
  
  .phonenumberinputbarv3:focus{
    outline: 0;
    border: 3px solid #24a0ed;
  }
  
  .websiteinputbarv3:focus{
    outline: 0;
    border: 3px solid #24a0ed;
  }
  
  .phonenumberinputbarv3::placeholder{
    position: relative;
    font-size: 22px;
    font-weight: 10;
    left:0%;
    top: 7%;
  }
  
  .establishmentinputbarv3 {
    border-radius: 3px;
    position: fixed;
    top: 46%;
    left: 29.15%;
    font-size: 18px;
    font-weight: 10;
    width: 310px;
    height: 35px;
    border-width: 0.5px;
    border-color: #a9a9a9;
    padding: 0 10px; /* Add padding/margin effect to the wrapped lines */
    box-sizing: border-box; /* Include padding in the element's total width */
  }
  
  .ellipse9{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 48.5%;
    border-radius: 50%;
    top: 22%;
    background: rgba(24, 170, 237, 0.589);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    }
  
  .postingshirt{
      position: absolute;
      display: inline-block;
      left: 4.8px;
      width: 52px;
      height: 52px;
      top: 4.3px;
      
  }

  .ellipse10{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 42.5%;
    border-radius: 50%;
    top: 2%;
    background: rgba(24, 170, 237, 0.589);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    }
  
    .profilewelcometoo{
      position: absolute;
      left: 48.9%;
      top: 31.1%;
      font-family: 'Open sans';
    }


    .pickupd:focus{
      outline: 0;
      border: 3px solid #24a0ed;
    }
    
    .pickupd::placeholder{
      position: relative;
      font-size: 22px;
      font-weight: 10;
      left:0%;
      top: 7%;
    }

    .pickupd {
      border-radius: 3px;
      position: fixed;
      top: 66%;
      left: 29.15%;
      font-size: 18px;
      font-weight: 10;
      width: 310px;
      height: 35px;
      border-width: 0.5px;
      border-color: #a9a9a9;
      padding: 0 10px;
      box-sizing: border-box;
    }

    .pickupt:focus{
      outline: 0;
      border: 3px solid #24a0ed;
    }
    
    .pickupt::placeholder{
      position: relative;
      font-size: 22px;
      font-weight: 10;
      left:0%;
      top: 7%;
    }

    .pickupt {
      border-radius: 3px;
      position: fixed;
      top: 73%;
      left: 29.15%;
      font-size: 18px;
      font-weight: 10;
      width: 310px;
      height: 35px;
      border-width: 0.5px;
      border-color: #a9a9a9;
      padding: 0 10px;
      box-sizing: border-box;
    }

    .postingwelcometoo{
      position: absolute;
      left: 35.1%;
      top: 16.7%;
      font-family: 'Open sans';
    }

.map-container {
  width: 44vh;
  height: 67vh;
  top: 0.2%;
  left: 23.5vw;
  border-radius: 6px;
}

.page-container {
  position: fixed;
  top: 0%;
  height: calc(100vh - 6rem);
  width: 100vw;
  background-color: #f3f3f8;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10%;
}

.allpostings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
}

.postings-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  top: 30%;
  left: -5%;
  width: 100%;
}

.thriftstorepost {
  position: relative;
  margin: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  height: 48vh;
  width: 5vw;
  box-shadow: 5px 5px 5px rgba(163, 158, 198, 0.2);
  padding-left: 3%;
  margin-right: 6%;
  margin-bottom: 6%;
  left: 9%;
  border-radius: 1.2%;
  background-color: #ffffff;
  flex-basis: 14.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thriftstorepostfont{
  position: absolute;
  font-size: 4vh;
  font-weight: 500;
  font-family:'Calibri';
  top: 1.5%;
  left: 3%;
}

.address-top {
  font-size: 1.55vh;
  position: absolute;
  top: 20%;
  width: 28.5vh;
  left: 11.5%;
  font-family: 'Uber Move Text';
}

.city-top {
  font-size: 2vh;
  position: absolute;
  font-family: 'Uber Move Text';
  top: 25%;
  left: 11.5%;
}

.dialoguesubmission{
  left: 4.6%;
}

.dialoguebackground{
  position: absolute;
  width: 100vw;
}

.dialoguebacktwice{
  position: absolute;
  width: 100vw;
}

.dialoguecancel-container {
  position: absolute;
  top: 25%;
  left: 50.6%;
}

.dialoguecancel {
  position: absolute;
  width: 25%;
  left: 71.8%;
  top: 14vh;
}

.dialoguebacktwice{
  position: absolute;
  width: 200vw;
}

.mapmarkerstyle {
  position: absolute;
  width: 1.5vw;
  height: 4.5vh;
  top: 19.5%;
  left: 1%;
}

.clockstyle{
  position: absolute;
  width: 1.3vw;
  height: 4.5vh;
  top: 35.5%;
  left: 2%;
}

.phonestyle{
  position: absolute;
  width: 1.3vw;
  height: 4.5vh;
  top: 48.5%;
  left: 2.2%;
}

.emailstyle{
  position: absolute;
  width: 1.3vw;
  height: 4.5vh;
  top: 61%;
  left: 2.2%;
}

.internetstyle{
  position: absolute;
  width: 1.3vw;
  height: 4.5vh;
  top: 73%;
  left: 2.2%;
}

.pickupdatestyle {
  font-size: 2vh;
  position: absolute;
  top: 39.8%;
  width: 28.5vh;
  left: 11.5%;
  font-family: 'Uber Move Text';
}

.pickuptimestyle {
  font-size: 2vh;
  position: absolute;
  top: 34.2%;
  width: 28.5vh;
  left: 11.5%;
  font-family: 'Uber Move Text';
}

.phone-top {
  font-size: 2.1vh;
  position: absolute;
  font-family: 'Uber Move Text';
  top: 51%;
  left: 11.5%;
}

.email-top {
  font-size: 2.1vh;
  position: absolute;
  font-family: 'Uber Move Text';
  top: 62.9%;
  left: 11.5%;
}

.website-top {
  font-size: 1.9vh;
  position: absolute;
  font-family: 'Uber Move Text';
  top: 75%;
  left: 11.5%;
}

.backdrop-dialogue{
  position: fixed;
  top: 0%;
  height: calc(10vh - 6rem);
  width: 15vw;
  background-color: #f3f3f8;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10%;
}

.postercomments {
  font-size: 2vh;
  overflow-wrap: break-word;
  margin-left: 0%;
}


.xmarkdialogue{
  position: absolute;
  left: 415%;
  top: -170%;
  width: 0.8vw;
  height: 2vh;
}

.page-container-two {
  position: fixed;
  top: 0%;
  height: calc(100vh - 6rem);
  width: 100vw;
  background-color: #eeeded;
  padding-top: 10%;
}

.postings-container-dashboard {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  top: 27%;
  left: 4%;
  width: 50%;
  height: 68%;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.thriftstorepost-dashboard {
  position: relative;
  margin: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  height: 20%;
  width: 33vw;
  padding-left: 3%;
  margin-right: 6%;
  margin-bottom: 6%;
  left: 25%;
  top: -2.5%;
  border-radius: 2%;
  background-color: #e0dfdf;
  flex-basis: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thriftstorepost-dashboard:focus{
  outline: 0;
  border: 3px solid #24a0ed;
}

.thriftstorepostfont{
  position: absolute;
  font-size: 4vh;
  font-weight: 500;
  font-family:'Calibri';
  top: 1.5%;
  left: 3%;
}